<!DOCTYPE html>
<html>
    <head>
     <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
     <script src="https://unpkg.com/jquery.terminal@1.x.x/js/jquery.terminal.min.js"></script>
     <link rel="stylesheet" type="text/css" href="https://unpkg.com/jquery.terminal@1.x.x/css/jquery.terminal.min.css" />
    </head>
<style>
</style>

<script>
    function tezos() {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          document.getElementById("result").innerHTML = this.responseText;
        }
      };
    val = ''
      xhttp.open("GET", "/checkdoc?val=" + val);
      xhttp.send();
    }
  </script>
<title> Tezos Client </title>

<body>
    <script>

        // var terminal_impl = {
        //     'tezos-client': function (value) {
        //         this.echo("You've typed " + value);
        //     },
        // }

        var terminal_params = {
            greetings: "Welcome to Tezos",
            name: 'tezos_demo',
            height: 200,
            prompt: 'tezos> ',
        }

    $(function () {
        $('body').terminal('tezosclient',  terminal_params)
    });
    </script>
    <pre>
       <div id="result"></div>
    </pre>

</body>

</html>